<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTEULUGAR - Profissionais</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
    <script src="/js/popper.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>
  </head>
  <body>
    <header>
      <%- include("../partials/components/navbar/index.ejs") %>
    </header>
    <main>
      <div class="card_prof">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="Imagens/Carina.jpg" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Carina Assunção</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Avaliação Psicológica
                  (Personalidade e Dinâmica Emocional) - Especialização em
                  Medicina Psicossomática
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">
                    Nº de Cédula: 21560</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Fabio-Pereira.jpeg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Fábio Pereira</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Psicoterapia (em formação) -
                  Hipnose Clínica (em formação)
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 24684</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Joao-Silva-1-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">João Silva</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Psicoterapia (em formação)
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 28548</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Liliana-2-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Liliana Marques</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Psicoterapia EMDR
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 22932</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Luis-Cunha-1-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Luis Cunha</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Ansiedade e Depressão -
                  Coaching - Psicologia Organizacional e do Trabalho -
                  Aconselhamento Profissional/Carreira e dificuldades laborais
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 25513</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Maria-Matos-1-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Maria Matos</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Perturbações do Comportamento
                  Alimentar
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 28978</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../Imagens/Pedro-Fernandes2-1-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Pedro Fernandes</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Avaliação e Reabilitação
                  Neuropsicológica da infância à idade adulta
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 23037</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Raquel-2-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Raquel Pinto</h5>
                <p class="card-text">
                  Psicologia Clínica e da Saúde - Neuropsicologia - Psicologia
                  Infanto-Juvenil - Perturbação de Hiperatividade e Défice de
                  Atenção
                </p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Soraia-Almeida-1-480x720.jpg"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Soraia Almeida</h5>
                <p class="card-text">Psicologia Clínica e da Saúde</p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 22494</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="Imagens/Ana-480x719.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Ana Fidalgo</h5>
                <p class="card-text">
                  Psicologia Clínica e Terapia de Casal - Sexologia Clínica -
                  Educação Afetivo-Sexual
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">Nº de Cédula: 20735</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-dark text-light py-4">
      <%- include("../partials/components/footer/index.ejs") %>
    </footer>
  </body>
</html>
