<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTEULUGAR - Registar Utilizador</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
    <script src="/js/popper.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>
  </head>
  <body>
    <header>
      <%- include("../partials/components/navbar/index.ejs") %>
    </header>
    <main>
      <div class="form bg-dark">
        <h1>Registar</h1>
        <form action="/auth.utilizador/register" method="post">
          <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label"
              >Nome</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputNome1"
              name="nome"
            />
          </div>
          <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label"
              >Data de nascimento</label
            >
            <input
              type="date"
              class="form-control"
              id="exampleInputdtanascimento1"
              name="dta_nascimento"
            />
          </div>
          <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label"
              >Email</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="e_mail"
            />
          </div>
          <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label"
              >Contacto</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputContacto1"
              name="contacto"
            />
          </div>
          <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label"
              >Nif</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputNif1"
              name="nif"
            />
          </div>
          <div class="mb-3 mt-4">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Registar</button>
        </form>
      </div>
    </main>
    <footer class="bg-dark text-light py-4">
      <%- include("../partials/components/footer/index.ejs") %>
    </footer>
  </body>
</html>