<div class="fixed-top">
  <nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">
      <a href="/login" class="icon"><i class="bi bi-person-circle"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index_prof">Sou Psicólogo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://localhost:5000/marcacao">Listar consultas</a>
              <a class="dropdown-item" href="http://localhost:5000/marcacao/create">Criar consultas</a>
            </div>
          </li>
          <a class="navbar-brand d-none d-lg-block" href="/">
            <img
              src="../Imagens/cropped-oteulugarPrancheta-1.png"
              alt="logo"
            />
          </a>
          <li class="nav-item">
            <a class="nav-link" href="/profissionais">Profissionais</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Registar/login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>